# Park front center
[gcode_macro PARKFRONT]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=PARKFRONT
    G90                               ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} Z{printer.toolhead.axis_maximum.z/2} F6000        
    RESTORE_GCODE_STATE NAME=PARKFRONT
    M117 Park Front Center

# Park front center, but low down.
[gcode_macro PARKFRONTLOW]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=PARKFRONT
    G90                              ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} Z20 F6000                                     
    RESTORE_GCODE_STATE NAME=PARKFRONT
    M117 Park Low Center

# Park top rear left
[gcode_macro PARKREAR]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=PARKREAR
    G90                              ; absolute positioning
    G0 X{printer.toolhead.axis_minimum.x+10} Y{printer.toolhead.axis_maximum.y-30} Z{printer.toolhead.axis_maximum.z-30} F6000     
    RESTORE_GCODE_STATE NAME=PARKREAR
    M117 Park Rear

# Park back rear far right
[gcode_macro PARKFARREAR]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=PARKREAR
    G90                              ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x-10} Y{printer.toolhead.axis_maximum.y-30} Z{printer.toolhead.axis_minimum.z+20} F6000     
    RESTORE_GCODE_STATE NAME=PARKREAR
    M117 Park Far Back

# Park at center of build volume
[gcode_macro PARKCENTER]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=PARKCENTER
    G90                               ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z{printer.toolhead.axis_maximum.z/2} F6000    
    RESTORE_GCODE_STATE NAME=PARKCENTER
    M117 Park Center
    
[gcode_macro PARKCENTER_TRASH]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=PARKCENTER_TRASH
    MOVE_TO_TRASH
    G90                               ; absolute positioning
    G0 Z{printer.toolhead.axis_maximum.z/2} F6000    
    RESTORE_GCODE_STATE NAME=PARKCENTER_TRASH
    M117 Park Center

# Park 15mm above center of bed
[gcode_macro PARKBED]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=PARKBED
    G90                                ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z15 F6000                                     
    RESTORE_GCODE_STATE NAME=PARKBED
    M117 Park Bed Center

[gcode_macro PARKHIGH]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=PARKCENTER
    G0 X{printer.toolhead.axis_minimum.x+10} Y{printer.toolhead.axis_maximum.y-10} Z{printer.toolhead.axis_maximum.z-10} F6000    
    RESTORE_GCODE_STATE NAME=PARKCENTER
    M117 Park High

[gcode_macro PARKLOW_TRASH]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=PARKHIGH_TRASH
    M82
    MOVE_TO_TRASH
    G90                               ; absolute positioning
    G0 Z{printer.toolhead.axis_maximum.z-10} F6000   
    RESTORE_GCODE_STATE NAME=PARKHIGH_TRASH
    M117 Park High
    
[gcode_macro PARKMID_TRASH]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=PARKCENTER_TRASH
    MOVE_TO_TRASH
    G90                               ; absolute positioning
    G0 Z{ (printer.toolhead.axis_maximum.z * (2/3) )} F6000    
    RESTORE_GCODE_STATE NAME=PARKCENTER_TRASH
    M117 Park Center
    
[gcode_macro PARKHIGH_TRASH]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=PARKCENTER_TRASH
    MOVE_TO_TRASH
    G90                               ; absolute positioning
    G0 Z{printer.toolhead.axis_maximum.z/3} F6000    
    RESTORE_GCODE_STATE NAME=PARKCENTER_TRASH
    M117 Park Center

[gcode_macro PARK_TOOL]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=PARKCENTER
    G0 X{printer.toolhead.axis_maximum.x-5} Y{printer.toolhead.axis_minimum.y+5} F6000    
    RESTORE_GCODE_STATE NAME=PARKCENTER
    M117 Park High
    
[gcode_macro display_print]
gcode:
    _CG28
    SAVE_GCODE_STATE NAME=display_print
    {% if printer.toolhead.position.z <= printer.toolhead.axis_maximum.z/3 %}
      PARKHIGH_TRASH
    {% elif printer.toolhead.position.z >= ( printer.toolhead.axis_maximum.z * (2/3) ) %}
      PARKLOW_TRASH
    {% else %}
      PARKMID_TRASH
    {% endif %}
    RESTORE_GCODE_STATE NAME=display_print
    # Turn off Fans
    M107
    M117 Print Finished
    UPDATE_DELAYED_GCODE ID=OFF DURATION=600
